{% extends "base.html" %}
{% block clasificacion %}
<section id=tabla>
                <!--for demo wrap-->
                <h1 id=tabla>Clasificación</h1>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>RANKING</th>
                                
                                <th class="d-none d-md-block" >Nombre de invocador</th>
                                
                                <th>Elo</th>
                                
                                <th>PARTIDAS</th>
                                
                                <th class="none">GANADAS</th>

                                <th class="none">PERDIDAS</th>
                              
                                <th><span class="texto_responsive" data-desktoptext="WINRATE" data-tablettext="WR" data-phonetext="WR"></span></th>
                            </tr>
                            
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
			{% for datos in listaj -%}
                            <tr>
                                <td>{{datos['pos']}}</td>
                                <td class="d-none d-md-block">{{datos['name']}}</td>
                                <td>{{datos['league']}}</td>
                                <td class="centro">{{datos['games']}}</td>
                                <td class="none">{{datos['wins']}}</td>
                                <td class="none">{{datos['losses']}}</td>
                                <td>{{datos['winratio']}}</td>	
                            </tr>
			{% endfor %}
              </tbody>
                    </table>
                </div>
            </section>
{% endblock %}
